@page "/todo"
<h3>ToDo (@todos.Count(todo => !todo.IsDone))</h3>
<ul>
    @foreach(var todo in todos){
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            @todo.Title
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newToDo" />
<button class="btn btn-success" @onclick="AddToDo">Add to do</button>
@code {
    private List<ToDoItem> todos = new ();
    private string? newToDo;

    private void AddToDo(){
        // Now make sure to add the logic required to save the new todo in the list
        if(!string.IsNullOrWhiteSpace(newToDo)){
            todos.Add(new ToDoItem {Title = newToDo});
            newToDo = string.Empty;
        }
    }
}
